@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
table{
  width: 70%;
}
th{
  width: 120px;
  padding: 0.75rem;
  height: 50px;
}
th:nth-child(1) {
    width: 1rem;
}
body {
  color: rgb(var(--foreground-rgb));
  /*background-image: linear-gradient(to bottom, #ecee81, #8de9a4, #2cd9d2, #3bbfe8, #82a0d8);*/
  background-color: #FFEFD5;
}
.gradient{
  background-image: linear-gradient(to bottom, #ecee81, #8de9a4, #2cd9d2, #3bbfe8, #82a0d8);
}